.list-main{
    display: inline-block;
}
/* .container{
    max-width: 1350px;
} */
.mycontainer{
    max-width: 1500px;
}
body{
    background: #fff
}
.page-wrapper{
    background: pink;
}

.section-border{
    height: 3px;
    border-bottom: 3px solid pink;
    margin:30px auto;
    width: 50%;
}
.slider-part {
    height: 515px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.header.shop .main-category{
    
    z-index: 1000;
    
}
.slider-single-part{
    padding: 0 0;
}


.sidemenu li:hover{
    border-bottom: 1px solid #F7941D;
}
.hero-slider{

}
.middle{
    position: relative;
    height: 520px;
}
.hero-slider .hero-text {
    background: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 58%;
    width: 80%;
    text-align: center;
}

.hero-text p{
    color: #fff!important;
    font-size: 18px;
}

.single-banner:hover img{
    transform: scale(1.2);
    transition: 1s;

}
.container.single-part-bg {
    padding-bottom: 30px;
}
.most-popular .section-title {
    margin-bottom: 0px;
}
.single-bannerimg{
    height: 100%;
    width: 100%;
    transition: 1s;
    overflow: hidden;

}
.single-banner .content{
    background: rgba(0,0,0,.4);
    padding: 20px 20px 0;
    transition: 1s;
    overflow: hidden;
}
.single-banner .content p{
    color:#fff;
}
.single-banner .content h3 {
    color: #fff;
}
.single-banner .content a{
    
    font-size: 14px;
    color:#FFF;
}
.single-banner .content a:hover{
    color: #EC8E1F;
}
.product-img{
    min-height: 200px;
    max-height: 250px;
}
.product-img img{
    min-height: 250px;
}
.shop-home-list.single-list{
    height: 130px;
}
.list-image img{
    height: 150px
}
.shop-newsletter{
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(.5);
}
.shop-newsletter .inner h4{
    color:#fff;
}
.shop-newsletter .inner p {
    color:#fff;
}
.inner-top{
    background: rgba(0,0,0,.3);
    padding: 20px;
}
.shop-blog .shop-single-blog img{
    height: 100%;
}

.header.shop .logo {
    float: left;
    margin: 0 -4px;
    height: 80px;
    width: auto;
}
.header.shop .middle-inner {
    padding: 0 0;
    background: #fff;
    border-top: 1px solid #eee;
}
.header.shop .search-bar-top {
    text-align: center;
    margin-top: 15px;
}
section.shop-services.section.hom.single-part-bg {
    padding-bottom: 30px;
}

.col-lg-3.col-md-6.col-12.work {
    box-shadow: 2px 2px 4px #ddd;
    padding: 50px 20px;
}
.shop-services.section {
    padding: 20px 0 0px 0;
    background: #fff;
}
.shop-single-blog {
    box-shadow: 2px 2px 4px #ddd;
}
ul.main-category.sidemenu.cart {
    box-shadow: 0 0 0 2px #ddd !important;
}
ul.main-category.sidemenu {
    border-right: 1px solid #ddd;
}
.footer .about .logo {
    text-align: left;
}
.footer .about .logo img {
    height: 50px;
}
.shop-services.home{
    background: rgba(255,155,255,.5);
}
.shop-section-title {
    padding-top: 25px;
}
.most-popular .single-product {
    margin: 50px 15px 0 15px;
    box-shadow: 3px 3px 4px 4px #ddd;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.cown-down .content{
    background: #FFCDFF;
}
.small-banner .single-banner {
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 5px #fff;
}
.section-title {
    padding-top: 20px;
}

.single-banner {
    border:1px solid #eee;
}
.single-banner:nth-last-child{
    border-right: 1px;
}
.banner {
    overflow: hidden;
    height: 390px;
    position: relative;
}

 .single-banner .content {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 35px;
}

element.style {
}
.midium-banner .single-banner .content {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20px;
}
.nav .main-menu.menu .navbar-nav{
    left: 0;
}
.slider-btn{
    text-align: center;
}
.shop-btn{
    padding: 5px ;
    font-size: 14px;
}
.midium-banner .single-banner {
    position: relative;
    height: 375;
    overflow: hidden;
    margin-top: 15px;
}
.owl-stage{
    padding: 0;
}
.header.shop .right-bar{
    margin:0 50px;
}
.single-list {
    box-shadow: 2px 2px 4px #ddd;
}
.image.comming-product {
    height: 380px;
    box-shadow: 2px 2px 4px #ddd;
}
.cown-down .padding-right {
    padding-right: 25px;
}
.section-inner.single-part-bg {
    background: #fff;
}
.header.shop .search-bar {
    width: 85%;
    height: 50px;
    display: inline-block;
    background: #fff;
    position: relative;
    margin-left: 15%;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #ececec;}
.menubar{
    padding: 0px;
}
input[type="search"] {
    outline: none;
}


/*======================================
    coundown css
========================================*/
.main-content{  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
     box-shadow: 2px 2px 4px #ddd;
}
.countdouwn{
    display: flex;
    text-align: center;
}
.countdouwn > div >span{
    font-size: 1.3rem;
    font-weight: 300;
}
.countdouwn > div{
    padding: 30px ;
    
    margin: 0 5px;
    box-shadow: 2px 3px 5px rgba(0,0,0,.24);
    font-size: 1.5rem;
    font-weight: bold;
}
.main-content > h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-content .image {
    height: 230px;
    margin-top: 50px;
}
.single-part-bg{
    background: #F7F7F7;
}
.list-main{
    display: inline-block;
}
.hero-slider .hero-text h1 {
    font-size: 26px;
    color: #000;
}
.section {
padding: 20px 0;
position: relative;
}
    
.single-banner.tab-height.slider-card {
    height: 421px;
    padding: 0px;
}
.single-banner.card.slider-card {
    margin: 10px;
    padding: 50px;
}
.single-banner img {
    height: 375px;
    width: 100%;
}
.single-banner.two-part img:hover{
    transform: scale(1.1);
}
.section-inner.single-part-bg {
    background: #fff;
    margin-top: 30px;
}
.image.comming-product {
    text-align: center;
}
.image.comming-product img {
    height: 415px;
    width: 500px;
}
.comming-image img{
    height: 300px;
    padding-bottom: 30px;
}
.owl-controls {
    margin-top: -40px;
    position: relative;
}
.popular-slider .owl-controls {
    margin-top: 20;
    position: absolute;
    bottom: 10%;
    left: 50%;
}
.owl-theme .owl-dots .owl-dot span {
    background: #F7941D;
    width: 15px;
    height: 15px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000;
    width: 15px;
    height: 15px;
}
.owl-carousel.popular-slider.owl-theme.owl-loaded {
    padding-bottom: 50px;
}
.shop-home-list .single-list img {
    width: 100%;
    height: 105px;
}
.shop-home-list .single-list .list-image {
    position: relative;
    padding: 10px;
}
.shop-single-blog {
    padding: 20px 13px;
}
.shop-single-blog {
    box-shadow: 10px 0px 5px #ddd;
}
.owl-carousel.popular-slider.owl-theme.owl-loaded {
    padding-bottom: 10px;
}
.shop-blog .shop-single-blog: {
    box-shadow: 0px 10px 10px #ddd;
    height: 300px;
}
.midium-banner .single-banner img {
    height: 100%;
    width: 100%;
}
.slider-part{
    position: relative;
}
.slider-part img{
    position: absolute;
}

.slider-part{
    background:pink;
    height: 410px;
}
.slider-part img{
    max-height: 100%;
    min-width: 100%;
    z-index: 999
}
.hero-slider .single-slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 413px;
    padding-bottom: 10px;
}
.slider-part.item {
    background-size: cover;
    background-position: center;
}

.hero-slider .hero-text {
    background: rgba(0,0,0,.4);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 70%;
    width: 80%;
    text-align: center;
}










@media only screen and (max-width: 991px) {
    .shop-home-list.single-list img{
        height: 100%;
        
    }
    div#category_top {
    display: none;
}
.hero-slider .hero-text .btn {
    padding: 12px 30px;
    z-index: 9999;
    margin-top: 200px;
    width: 171px;
    text-align: center;
    margin-left: 30%;
}

    .hero-slider .hero-text {
    background: rgba(0,0,0,.4);
    margin: 0;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 58%;
    width: 80%;
    text-align: center;
}

 
.small-banner .single-banner .content {
    position: absolute;
    left: 24%;
    top: 52%;
    transform: translateY(-50%);
    padding-left: 35px;
    width: 51%;
    background: rgba(0,0,0,.7);
}

.single-banner .content h3 {
    color: #ddd;
}
.owl-controls {
    margin-top: -40px;
    position: absolute;
    bottom: 34%;
    left: 40%;
}
.countdouwn > div {
    padding: 6px;
    margin: 0 5px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 24%);
    font-size: 1.5rem;
    font-weight: bold;
}
.main-content > h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.popular-slider .owl-controls {
    margin-top: 20;
    position: absolute;
    top: 80%;
}
.slicknav_menu .slicknav_no-text {
    margin: 14px;
}

}
@media only screen and (max-width: 767px) {
    .hero-slider .hero-text {
    background: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 52%;
    width: 80%;
    text-align: center;
}
.hero-text p , h1{
    display: none;
}
a.btn.show-now-btn {
    margin-top: 55%;
    display: block;
}

  .shop-blog .shop-single-blog img {
    height: 200px;
}
img.slider-image {
    height: 350px;
}
.right-bar{
    display: block;
    position: fixed;
    top: 10px;
    left: 20px;
}
hero-slider .hero-text {
    background: rgba(0,0,0,.0);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 52%;
    width: 80%;
    text-align: center;
}
.header.shop .right-bar {
    display: block;
    position: fixed;
    top: 30px;
    left: 44%;
}
.header.shop .topbar .right-content {
    text-align: center;
    float: none;
    margin-top: 8px;
    display: none;
}
.header.shop .topbar {
    background-color: #fff;
    border: none;
    display: none;
}

.slicknav_btn {
    background: transparent;
    padding: 0;
    margin: 14px 0 0;
}
.midium-banner .single-banner {
    position: relative;
    height: 415px;
    overflow: hidden;
    margin-top: 15px;
}

}

@media only screen and (max-width: 540) {
   .hero-slider .hero-text {
    background: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px;
    height: 50%;
    width: 75%;
    text-align: center;
}


.single-banner.card.slider-card {
    margin: 10px;
    padding: 15px;
}

.single-product .product-img a img {
    height: 200px;
    width: 280px;
    margin: 0 100px;
}
.single-product {
    height: 380px;
}
img.default-img {
    height: 202px;
    margin: 0 4px;
    width: 80%;
}
}
/* Mobile Screen */
@media only screen and (max-width: 450px) {
    .popular-slider .owl-controls {
    margin-top: 20;
    position: absolute;
    top: 79%;
    left: 32%;
}
.single-banner.card.slider-card {
    margin: 10px;
    padding: 5px;
    height: 250px;
}
.shop-blog .shop-single-blog img {
    height: 100%;
    width: 80%;
}
.small-banner .single-banner .content {
    padding: 4px 2px 1px 0px;
}
.slicknav_menu .slicknav_no-text {
    margin: 14px;
}
    .hero-slider .hero-text {
    background: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 56%;
    width: 76%;
}
.main-content > h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.owl-controls {
    margin-top: -40px;
    position: absolute;
    bottom: 15%;
    left: 40%;
}
.countdouwn > div {
    padding: 6px;
    margin: 0 5px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 24%);
    font-size: 1.5rem;
    font-weight: bold;
}
.hero-slider .hero-text {
    background: rgba(0,0,0,.0);
    margin: 0;
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 46%;
    width: 76%;
}
}

@media only screen and (min-width: 375px) {
.image.comming-product img {
    height: 415px;
    width: 500px;
    margin-left: 15px;
}

}
@media only screen and (min-width: 360px) {
.shop-home-list .single-list img {
    width: 100%;
    height: 100%;
}

}


@media only screen and (min-width: 320px) {
.midium-banner .single-banner img {
    height: 375px;
    width: 100%;
}
.shop-home-list .single-list img {
    width: 100%;
    height: 80%;
}
.hero-slider .hero-text h1 {
    font-size: 18px;
    margin-bottom: 0px;
}

}

@media only screen and (min-width: 280px) {
.image.comming-product img {
    height: 308px;
    width: 500px;
    padding-left: 0px;
    margin-top: 35px;
}

.countdouwn > div {
    padding: 2px;
    margin: 0 0px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 24%);
    font-size: 1rem;
    font-weight: bold;
}
.countdouwn > div >span {
    font-size: .8rem;
    font-weight: 300;
}
.main-content > h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 15px;
}

}