.list-main{
    display: inline-block;
}
/* .container{
	max-width: 1350px;
} */
.mycontainer{
	max-width: 1500px;
}
body{
	background: #fff
}
.page-wrapper{
	background: pink;
}

.section-border{
	height: 3px;
	border-bottom: 3px solid pink;
	margin:30px auto;
	width: 50%;
}
.slider-part {
    height: 515px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.header.shop .main-category{
	
	z-index: 1000;
	
}
.slider-single-part{
	padding: 0 0;
}


.sidemenu li:hover{
	border-bottom: 1px solid #F7941D;
}
.hero-slider{

}
.middle{
	position: relative;
	height: 520px;
}
.hero-slider .hero-text {
    background: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 58%;
    width: 80%;
}

.hero-text p{
	color: #fff!important;
	font-size: 18px;
}

.single-banner:hover img{
	transform: scale(1.2);
	transition: 1s;

}
.container.single-part-bg {
    padding-bottom: 30px;
}
.most-popular .section-title {
    margin-bottom: 0px;
}
.single-bannerimg{
	height: 100%;
	width: 100%;
	transition: 1s;
	overflow: hidden;

}
.single-banner .content{
	background: rgba(0,0,0,.4);
	padding: 20px 20px 0;
	transition: 1s;
	overflow: hidden;
}
.single-banner .content p{
	color:#fff;
}
.single-banner .content h3{
	color:#0188CA;
}
.single-banner .content a{
	
	font-size: 14px;
	color:#FFF;
}
.single-banner .content a:hover{
	color: #EC8E1F;
}
.product-img{
	min-height: 200px;
	max-height: 250px;
}
.product-img img{
	min-height: 250px;
}
.shop-home-list.single-list{
	height: 130px;
}
.list-image img{
	height: 150px
}
.shop-newsletter{
	 background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(.5);
}
.shop-newsletter .inner h4{
	color:#fff;
}
.shop-newsletter .inner p {
	color:#fff;
}
.inner-top{
	background: rgba(0,0,0,.3);
	padding: 20px;
}
.shop-blog .shop-single-blog img{
	height: 200px;
}

.header.shop .logo {
    float: left;
    margin: 0 -4px;
    height: 80px;
    width: auto;
}
.header.shop .middle-inner {
    padding: 0 0;
    background: #fff;
    border-top: 1px solid #eee;
}
.header.shop .search-bar-top {
    text-align: center;
    margin-top: 15px;
}
section.shop-services.section.hom.single-part-bg {
    padding-bottom: 30px;
}

.col-lg-3.col-md-6.col-12.work {
    box-shadow: 2px 2px 4px #ddd;
    padding: 50px 20px;
}
.shop-services.section {
    padding: 20px 0 0px 0;
    background: #fff;
}
.shop-single-blog {
    box-shadow: 2px 2px 4px #ddd;
}
ul.main-category.sidemenu.cart {
    box-shadow: 0 0 0 2px #ddd !important;
}
ul.main-category.sidemenu {
    border-right: 1px solid #ddd;
}
.footer .about .logo {
    text-align: left;
}
.footer .about .logo img {
    height: 50px;
}
.shop-services.home{
	background: rgba(255,155,255,.5);
}
.shop-section-title {
    padding-top: 25px;
}
.most-popular .single-product {
    margin: 50px 15px 0 15px;
    box-shadow: 1px 2px 16px #ddd;
    padding: 15px;
}
.cown-down .content{
	background: #FFCDFF;
}
.small-banner .single-banner {
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 5px #fff;
}
.section-title {
    padding-top: 20px;
}

.single-banner {
	border:1px solid #eee;
}
.single-banner:nth-last-child{
	border-right: 1px;
}
.banner{
	overflow: hidden;
	height: 450px;
	position: relative;
}

 .single-banner .content {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 35px;
}
.midium-banner .single-banner .content {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.nav .main-menu.menu .navbar-nav{
	left: 0;
}
.slider-btn{
	text-align: center;
}
.shop-btn{
	padding: 5px ;
	font-size: 14px;
}
.midium-banner .single-banner {
    position: relative;
    height: 416px;
    overflow: hidden;
    margin-top: 15px;
}
.owl-stage{
	padding: 0;
}
.header.shop .right-bar{
	margin:0 50px;
}
.single-list {
    box-shadow: 2px 2px 4px #ddd;
}
.image.comming-product {
    height: 438px;
    box-shadow: 2px 2px 4px #ddd;
}
.cown-down .padding-right {
    padding-right: 25px;
}
.section-inner.single-part-bg {
    background: #fff;
}
.header.shop .search-bar {
    width: 500px;
    height: 50px;
    display: inline-block;
    background: #fff;
    position: relative;
    margin: 0;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #ececec;
}
.menubar{
	padding: 0px;
}
input[type="search"] {
    outline: none;
}

/*======================================
	coundown css
========================================*/
.main-content{	
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background: #fff;
	 box-shadow: 2px 2px 4px #ddd;
}
.countdouwn{
	display: flex;
	text-align: center;
}
.countdouwn > div >span{
	font-size: 1.3rem;
	font-weight: 300;
}
.countdouwn > div{
	padding: 30px ;
	
	margin: 0 5px;
	box-shadow: 2px 3px 5px rgba(0,0,0,.24);
	font-size: 1.5rem;
	font-weight: bold;
}
.main-content > h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-content .image {
    height: 230px;
    margin-top: 50px;
}
.single-part-bg{
	background: #F7F7F7;
}
.list-main{
	display: inline-block;
}
.hero-slider .hero-text h1 {
    font-size: 26px;
    color: #000;
}
.section {
padding: 20px 0;
position: relative;
}
	
.single-banner.tab-height.slider-card {
    height: 421px;
    padding: 0px;
}
.single-banner.card.slider-card {
    margin: 10px;
    padding: 60px;
}
.single-banner img {
    height: 375px;
    width: 100%;
}
.single-banner.two-part img:hover{
	transform: scale(1.1);
}
.section-inner.single-part-bg {
    background: #fff;
    margin-top: 30px;
}
.image.comming-product {
    text-align: center;
}
.image.comming-product img {
    height: 415px;
    width: 500px;
}
.comming-image img{
	height: 300px;
	padding-bottom: 30px;
}
.owl-controls {
    margin-top: -20px;
    position: relative;
   
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.shop-home-list.single-list img{
		height: 100%;
		
	}
}